.background-img {
    height: calc(100vh - 68px);
}

.background-filter {
    height: calc(100vh - 68px);
    top: 68px;
}

.rate {
    width: 70px;
    height: 70px;
    background-color: black;
    border-radius: 50%;
    border: green 5px solid;
}

.percent {
    font-size: 8px;
    vertical-align: center;
}

.movie-vote {
    font-size: 20px;
    font-weight: bold;
}

.dot {
    width: 5px;
    height: 5px;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #032541;
}
.options span {
    min-width: 150px;
}
.option-list span {
    background-color: #032541;
    display: none;
}

.option-list:hover span {
    display: block;
}

.img-width {
    max-width: 250px !important;
}

.h {
    height: max-content !important;
}

.name-sm {
    display: none;
}

@media screen and (max-width:991px) {
    .name-sm {
        display: block;
    }
    .name-lg {
        display: none;
    }
    .background-filter {
        height: max-content !important;
    }
}